body {
  font-family: Helvetica;
  text-align: center;

}

.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

.footer{
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  color: white;
}

.links {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
 h3 {
   font-size: 23px;
   font-weight: bold;
 }
